:root {
  --primary-color: #00e8c7;
  --secondary-color: #222;
  --accent-color: #fff;

  --poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* custom classes */

.font-poppins {
  font-family: var(--poppins);
}
.cursor-pointer {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.colorize {
  color: var(--primary-color);
}
.section-title {
  padding: 0.6rem 1rem;
  background: #f8f8f8;
  border-radius: 4px;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-title div span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
